@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Awesome Calculator</h1>
    
</div>

<div class="row">
    <div class="col-lg-12">
        <input id="output" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-3">
        <button id="input_c" class="btn btn-info btn-block" data="c" type="button">
            <string>C</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_pn" class="btn btn-info btn-block" data="+-" type="button">
            <string>+/-</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_perc" class="btn btn-info btn-block" data="%" type="button">
            <string>%</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_div" class="btn btn-danger btn-block" data="/" type="button">
            <string>/</string>
        </button>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-3">
        <button id="input_seven" class="btn btn-warning btn-block" data="7" type="button">
            <string>7</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_eight" class="btn btn-warning btn-block" data="8" type="button">
            <string>8</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_nine" class="btn btn-warning btn-block" data="9" type="button">
            <string>9</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_multiply" class="btn btn-danger btn-block" data="*" type="button">
            <string>*</string>
        </button>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-3">
        <button id="input_four" class="btn btn-warning btn-block" data="4" type="button">
            <string>4</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_five" class="btn btn-warning btn-block" data="5" type="button">
            <string>5</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_six" class="btn btn-warning btn-block" data="6" type="button">
            <string>6</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_minus" class="btn btn-danger btn-block" data="-" type="button">
            <string>-</string>
        </button>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-3">
        <button id="input_one" class="btn btn-warning btn-block" data="1" type="button">
            <string>1</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_two" class="btn btn-warning btn-block" data="2" type="button">
            <string>2</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_three" class="btn btn-warning btn-block" data="3" type="button">
            <string>3</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_plus" class="btn btn-danger btn-block" data="+" type="button">
            <string>+</string>
        </button>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-6">
        <button id="input_zero" class="btn btn-warning btn-block" data="0" type="button">
            <string>0</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_dec" class="btn btn-warning btn-block" data="." type="button">
            <string>.</string>
        </button>
    </div>
    <div class="col-lg-3">
        <button id="input_equals" class="btn btn-danger btn-block" data="=" type="button">
            <string>=</string>
        </button>
    </div>
</div>


